USE [master]
GO
/****** Object:  Database [QLDSV_HTC]    Script Date: 12/10/2021 10:16:24 AM ******/
CREATE DATABASE [QLDSV_HTC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDSV_HTC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDSV_HTC.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDSV_HTC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDSV_HTC_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDSV_HTC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDSV_HTC]
GO
/****** Object:  User [HTKN]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [PGV]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE ROLE [PGV]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_C0A1D91F24D741A49B401D4F13693267]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE ROLE [MSmerge_C0A1D91F24D741A49B401D4F13693267]
GO
/****** Object:  DatabaseRole [MSmerge_2B746290C9CC4502882A24BCA8528B74]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE ROLE [MSmerge_2B746290C9CC4502882A24BCA8528B74]
GO
/****** Object:  DatabaseRole [MSmerge_2A09A504D10040B4A0BD229612556F4A]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE ROLE [MSmerge_2A09A504D10040B4A0BD229612556F4A]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [db_owner] ADD MEMBER [PGV]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_C0A1D91F24D741A49B401D4F13693267]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_2B746290C9CC4502882A24BCA8528B74]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_2A09A504D10040B4A0BD229612556F4A]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_MONHOC]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_MONHOC]
as
Select MAMH,TENMH from MONHOC;

GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_GV]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_GV]
AS
SELECT MAGV, HO, TEN
FROM   dbo.GIANGVIEN


GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GET_THONGTIN_HOCPHI_SV]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[GET_THONGTIN_HOCPHI_SV]
AS
SELECT HOCPHI.MASV, HOCPHI.NIENKHOA, HOCPHI.HOCKY, HOCPHI.HOCPHI, 
CT_DONGHOCPHI.SOTIENDONG
From [dbo].[HOCPHI] 
left outer join [dbo].[CT_DONGHOCPHI] 
ON HOCPHI.MASV = CT_DONGHOCPHI.MASV 
							AND HOCPHI.HOCKY = CT_DONGHOCPHI.HOCKY 
							AND HOCPHI.NIENKHOA = CT_DONGHOCPHI.NIENKHOA
GO
/****** Object:  View [dbo].[Get_Subscribes]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Get_Subscribes]
AS
SELECT TENCN=PUBS.description, TENSERVER=subscriber_server
 FROM sysmergepublications  PUBS, sysmergesubscriptions SUBS
 WHERE PUBS.pubid = SUBS.pubid AND  publisher <> subscriber_server
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server

GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[DIEM_CC] [int] NULL,
	[DIEM_GK] [float] NULL,
	[DIEM_CK] [float] NULL,
	[HUYDANGKY] [bit] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[MAKHOA] [nchar](10) NOT NULL,
	[SOSVTOITHIEU] [int] NOT NULL,
	[HUYLOP] [bit] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL,
	[PASSWORD] [nvarchar](40) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[CT_DONGHOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_613577224]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_613577224] ON [dbo].[DANGKY]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_645577338]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_645577338] ON [dbo].[GIANGVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_677577452]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_677577452] ON [dbo].[HOCPHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_709577566]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_709577566] ON [dbo].[KHOA]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_741577680]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_741577680] ON [dbo].[LOP]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_773577794]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_773577794] ON [dbo].[LOPTINCHI]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_821577965]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_821577965] ON [dbo].[MONHOC]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_853578079]    Script Date: 12/10/2021 10:16:25 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_853578079] ON [dbo].[SINHVIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [DF_CT_DONGHOCPHI_NGAYDONG]  DEFAULT (getdate()) FOR [NGAYDONG]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_0D0F7F826AAA4E0389FD6930BECEA5A1]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [MSmerge_df_rowguid_4DCE91149CD046C8A83FC78BF250BC60]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GIANGVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_E6EE7579051D4F2BB12900FEE78FB93E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [MSmerge_df_rowguid_A85D8B44756A4D189FEF0CCCDF6F8E2F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHOA] ADD  CONSTRAINT [MSmerge_df_rowguid_2B2AFEFC204E4620935C5C0A3776C2E1]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [MSmerge_df_rowguid_083AE2BBA5A8484187AF60AB4896E41A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ('false') FOR [HUYLOP]
GO
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [MSmerge_df_rowguid_8B27E84DEAF44C98A87EE87B1DA89287]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [MSmerge_df_rowguid_B1D13DFA23694650BAC4F3667D779812]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('false') FOR [PHAI]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ('false') FOR [DANGHIHOC]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [DF_SINHVIEN_PASSWORD]  DEFAULT ('') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_3F762C42753E4BC1BBC6DBCD0B890B54]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_CTLTC_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_CTLTC_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIANGVIEN_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[GIANGVIEN] CHECK CONSTRAINT [FK_GIANGVIEN_KHOA]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_KHOA]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENDONG] CHECK  (([SOTIENDONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [CK_SOTIENDONG]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHI] CHECK  (([HOCPHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_SOSVTOITHIEU] CHECK  (([SOSVTOITHIEU]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_SOSVTOITHIEU]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_E13E77F7_1A4C_453F_8EDB_2BD031F6CA71] CHECK NOT FOR REPLICATION (([MALTC]>(5) AND [MALTC]<=(1005) OR [MALTC]>(1005) AND [MALTC]<=(2005)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [repl_identity_range_E13E77F7_1A4C_453F_8EDB_2BD031F6CA71]
GO
/****** Object:  StoredProcedure [dbo].[ADD_HOCPHI]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ADD_HOCPHI]
(@masv nchar(10), 
@nienKhoa nchar(9), 
@hocKy int, 
@hocPhi int, 
@ngayDong date, 
@soTienDong int,
@StatementType NVARCHAR(20) = '')
as
begin

if @StatementType = 'insert'
	begin
		if @hocPhi = @soTienDong
			begin 
				insert into [dbo].[HOCPHI]
						(MASV, NIENKHOA, HOCKY, HOCPHI)
				values(@masv, @nienKhoa, @hocKy, @hocPhi)

				insert into [dbo].[CT_DONGHOCPHI]
								(MASV, NIENKHOA, HOCKY, NGAYDONG, SOTIENDONG)
				values(@masv, @nienKhoa, @hocKy, @ngayDong, @soTienDong)
			end
		else
			begin
				raiserror('So tien dong phai bang hoc phi', 16, 1)
			end
	end

if @StatementType = 'update'
	begin
		if @hocPhi = @soTienDong
			begin
				update [dbo].[HOCPHI]
					set HOCPHI = @hocPhi
					where MASV = @masv
						and NIENKHOA = @nienKhoa
						and HOCKY = @hocKy
				update [dbo].[CT_DONGHOCPHI]
					set SOTIENDONG = @soTienDong
					where MASV = @masv
						and NIENKHOA = @nienKhoa
						and HOCKY = @hocKy
			end
		else
			begin
				raiserror('So tien dong phai bang hoc phi', 16, 1)
			end
	end
end

GO
/****** Object:  StoredProcedure [dbo].[CHECK_LOPTC]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHECK_LOPTC]
@NIENKHOA NCHAR(9),
@HOCKY INT,
@MAMH NCHAR(10),
@NHOM INT

AS 
BEGIN 
	IF EXISTS (SELECT * FROM DBO.LOPTINCHI AS LOP 
	WHERE LOP.NHOM = @NHOM AND LOP.NIENKHOA = @NIENKHOA
		  AND LOP.HOCKY = @HOCKY AND LOP.MAMH = @MAMH)
		RETURN 1;
	ELSE IF EXISTS (SELECT * FROM LINK0.QLDSV_HTC.DBO.LOPTINCHI AS LOP 
	WHERE LOP.NHOM = @NHOM AND LOP.NIENKHOA = @NIENKHOA
		  AND LOP.HOCKY = @HOCKY AND LOP.MAMH = @MAMH)
		  RETURN 2;
	ELSE
		RETURN 0;
END 

GO
/****** Object:  StoredProcedure [dbo].[GET_THONGTIN_HOCPHI]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GET_THONGTIN_HOCPHI]
@MASV nchar(10)
as 
begin
	SELECT HOCPHI.MASV, HOCPHI.NIENKHOA, HOCPHI.HOCKY, HOCPHI.HOCPHI, 
	CT_DONGHOCPHI.SOTIENDONG
	From dbo.HOCPHI 

	left outer join [dbo].[CT_DONGHOCPHI] 
	ON HOCPHI.MASV = CT_DONGHOCPHI.MASV 
								AND HOCPHI.HOCKY = CT_DONGHOCPHI.HOCKY
								AND HOCPHI.NIENKHOA = CT_DONGHOCPHI.NIENKHOA
	where HOCPHI.MASV = @MASV and CT_DONGHOCPHI.MASV = @MASV
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKID]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CHECKID] @Code NVARCHAR(15),
@Type NVARCHAR(15)
AS
BEGIN
	-- LOP
	IF(@Type = 'MALOP')
	BEGIN
		
		IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.MALOP = @Code)
			RETURN 1; -- Mã tồn tại ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV_HTC.dbo.LOP AS LOP WHERE LOP.MALOP = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác
	END

	
	--MON Hoc
	IF(@Type = 'MAMONHOC')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.MONHOC WHERE MAMH = @Code)
		RETURN 1;
	END
	
	


		IF(@Type = 'MASV')
	BEGIN
		
		IF EXISTS(SELECT * FROM dbo.SINHVIEN WHERE dbo.SINHVIEN.MASV = @Code)
			RETURN 1; -- Mã tồn tại ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV_HTC.dbo.SINHVIEN AS SV WHERE SV.MASV = @Code)
			RETURN 2;	--Mã NV tồn tại ở phân mãnh  khác
	END

	RETURN 0	--Không bị trùng được thêm
END




GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKIDHOCPHI]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKIDHOCPHI] @masv NVARCHAR(10), @nienkhoa NVARCHAR(14), @hoky SMALLINT

AS
BEGIN
	
	IF EXISTS (SELECT * FROM dbo.HOCPHI WHERE MASV = @masv AND NIENKHOA = @nienkhoa AND HOCKY = @hoky)
		RETURN 1 -- mã tồn tại
	RETURN 0	-- mã không tồn tại.
END



GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKIDHOCPHIBYMASV]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKIDHOCPHIBYMASV] @masv NVARCHAR(10)
AS
BEGIN
  
  IF EXISTS (SELECT * FROM LINK0.QLDSV_HTC.dbo.HOCPHI WHERE MASV = @masv )
    RETURN 1 -- mã tồn tại
  RETURN 0  -- mã không tồn tại.
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKNAME]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKNAME]
@Name NVARCHAR(50),
@Type NVARCHAR(15)
AS
BEGIN
	--Kiểm tra Table lop của server hiện tại
	IF(@Type = 'TENLOP')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.LOP WHERE dbo.LOP.TENLOP = @Name)
			RETURN 1; -- @name bị trùng  ở phân mãnh hiện tại
	
		ELSE IF EXISTS(SELECT * FROM LINK0.QLDSV_HTC.dbo.LOP AS LOP WHERE LOP.TENLOP = @Name)
			RETURN 2;	--@name bị trùng ở phân mãnh  khác
	END

	IF(@Type = 'TENMONHOC')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.MONHOC WHERE TENMH = @Name)
		RETURN 1;
	END
	
	RETURN 0	--Không bị trùng ,được thêm
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DANG_KY_MON]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DANG_KY_MON]
@MaSV nchar(15),
@NienKhoa nchar(10),
@HocKy int,
@Nhom int,
@MaMH nchar(10)

AS
BEGIN

	If NOT EXISTS ( SELECT * FROM DANGKY WHERE MASV = @MaSV and MALTC = (SELECT MALTC FROM LOPTINCHI 
	where NHOM = @Nhom and NIENKHOA =@NienKhoa and HOCKY =@HocKy and MAMH = @MaMH and HUYLOP = 0))
		BEGIN
			 INSERT INTO DANGKY (MALTC,MASV,DIEM_CC,DIEM_GK,DIEM_CK,HUYDANGKY)
			 VALUES((SELECT MALTC FROM LOPTINCHI 
			where NHOM = @Nhom and NIENKHOA =@NienKhoa and HOCKY =@HocKy and MAMH = @MaMH and HUYLOP = 0)
			,@MaSV,0,0,0,0)
		 END
 END
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
   ROLENAME=NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))

GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAPSV]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAPSV]
@TENLOGIN NVARCHAR (50), @MASV nchar(10), @PASS nvarchar(40)

AS
DECLARE @TENUSER NVARCHAR(50), @ROLENAME nvarchar(30), @HOTEN nvarchar(40)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 	SELECT @ROLENAME=NAME
		 FROM sys.sysusers 
		 WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
	IF EXISTS (SELECT MASV FROM DBO.SINHVIEN WHERE MASV = @MASV AND PASSWORD = @PASS)
		SELECT @HOTEN = HO + ' ' + TEN  FROM dbo.SINHVIEN WHERE MASV = @MASV 

	SELECT MASV = @MASV , HOTEN = @HOTEN , NHOM = @ROLENAME
GO
/****** Object:  StoredProcedure [dbo].[SP_DKMH]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------
CREATE PROCEDURE [dbo].[SP_DKMH] @NIENKHOA NCHAR(9),
@HOCKY INT

AS 
BEGIN
	SELECT L.MALTC,L.MAMH, M.TENMH, L.NHOM, HOTEN = G.HO + ' '+ G.TEN, SL =0
	FROM MONHOC AS M , LOPTINCHI AS L,  GIANGVIEN AS G
	WHERE G.MAGV = L.MAGV AND M.MAMH = L.MAMH AND L.NIENKHOA = @NIENKHOA AND L.HOCKY = @HOCKY AND L.HUYLOP =0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DSLTC]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSLTC]
@NIENKHOA NCHAR(9),
@HOCKY INT
AS
BEGIN
	SELECT MH.TENMH,LTC.NHOM,G.HOTEN,LTC.SOSVTOITHIEU, SVDK = C.cnt
	FROM (SELECT L.MALTC,L.NHOM,L.MAMH,L.MAGV,L.SOSVTOITHIEU FROM DBO.LOPTINCHI AS L
		  WHERE L.NIENKHOA = @NIENKHOA AND L.HOCKY = @HOCKY AND L.HUYLOP = 0) LTC
	 INNER JOIN (SELECT MALTC, count(MALTC) as cnt
                     FROM DBO.DANGKY GROUP BY MALTC ) C ON LTC.MALTC = C.MALTC,
		(SELECT MAMH,TENMH FROM DBO.MONHOC) MH,
		(SELECT GV.MAGV,HOTEN =GV.HO + ' '+GV.TEN FROM GIANGVIEN GV) G
		WHERE LTC.MAGV = G.MAGV AND LTC.MAMH = MH.MAMH
	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DSMH_BY_MASV]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_DSMH_BY_MASV]
@MaSV nchar(10),
@NIENKHOA NCHAR(9),
@HOCKY INT
AS
BEGIN
	IF EXISTS (SELECT * FROM DBO.DANGKY 
						WHERE MASV = @MaSV)
	BEGIN
		SELECT DANGKY.MASV, DANGKY.MALTC, LOPTINCHI.MAMH, LOPTINCHI.NHOM, MONHOC.TENMH
		FROM DANGKY
		inner join LOPTINCHI 
		on DANGKY.MALTC = LOPTINCHI.MALTC
		inner join MONHOC
		on LOPTINCHI.MAMH = MONHOC.MAMH
		WHERE DANGKY.MASV = @MaSV 
						and DANGKY.HUYDANGKY != 1
						and LOPTINCHI.NIENKHOA = @NIENKHOA
						and LOPTINCHI.HOCKY = @HOCKY
	END
	ELSE
		raiserror( 'Sinh vien chua dang ky mon hoc!', 16, 1 )
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETDSNHAPDIEM]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETDSNHAPDIEM]

@NIENKHOA NCHAR(9),
@HOCKY INT,
@MONHOC NCHAR(10),
@NHOM INT

AS
BEGIN
	DECLARE @MALTC INT 
	SELECT @MALTC = L.MALTC FROM DBO.LOPTINCHI AS L
	WHERE L.NIENKHOA = @NIENKHOA AND L.HOCKY = @HOCKY AND L.MAMH = @MONHOC AND L.NHOM = @NHOM AND L.HUYLOP = 'FALSE'

	SELECT D.MASV, HOTEN = SV.HO + ' '+SV.TEN,D.DIEM_CC, D.DIEM_GK,D.DIEM_CK
	FROM DBO.DANGKY AS D, (SELECT MASV,HO,TEN FROM DBO.SINHVIEN) AS SV 
	WHERE SV.MASV = D.MASV AND D.MALTC = @MALTC
END

	

GO
/****** Object:  StoredProcedure [dbo].[SP_HUY_DANGKY_MON]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------------------
CREATE PROC [dbo].[SP_HUY_DANGKY_MON]
@MaSV nchar(15),
@MALTC int
AS
BEGIN
	IF EXISTS ( SELECT * FROM DBO.DANGKY 
	WHERE MALTC = @MALTC AND MASV = @MASV )
	BEGIN
		UPDATE DANGKY
		SET HUYDANGKY = 1
		WHERE MALTC = @MALTC AND MASV = @MASV
	END
	ELSE
		raiserror( 'Khong the xoa dang ky khong ton tai!', 16, 1 )
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DIEM]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[SP_INSERT_DIEM]
@NIENKHOA NCHAR(9),
@HOCKY INT,
@NHOM INT,
@MONHOC NCHAR(10),
@MASV NCHAR(10),
@DIEM_CC INT,
@DIEM_GK FLOAT, 
@DIEM_CK FLOAT
AS
BEGIN 
	DECLARE @MALTC INT
	SELECT @MALTC = MALTC FROM DBO.LOPTINCHI
	WHERE NIENKHOA = @NIENKHOA AND HOCKY = @HOCKY AND NHOM = @NHOM AND MAMH = @MONHOC

	IF EXISTS(SELECT * FROM DBO.DANGKY 
	WHERE MALTC = @MALTC AND MASV = @MASV )
	BEGIN
		UPDATE DANGKY
		SET DIEM_CC = @DIEM_CC, DIEM_CK = @DIEM_CK, DIEM_GK = @DIEM_GK
		WHERE MALTC = @MALTC AND MASV = @MASV
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login]
@TENLOGIN NVARCHAR( 100)
AS
DECLARE @mav INT
DECLARE @UID INT
DECLARE @MANV NVARCHAR(100)
SELECT @UID= uid , @MANV= NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT MAGV= @MANV, 
       HOTEN = (SELECT HO+ ' '+TEN FROM dbo.GIANGVIEN WHERE MAGV=@MANV ), 
       TENNHOM=NAME
  FROM sys.sysusers
    WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)

GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTER]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------------------------
Create PROC [dbo].[SP_REGISTER]
@MALTC INT,
@MASV NCHAR(10)
AS
BEGIN 
	IF NOT EXISTS (SELECT * FROM dbo.DANGKY WHERE MALTC = @MALTC AND MASV = @MASV)
	BEGIN 
		INSERT INTO DANGKY(MALTC,MASV,HUYDANGKY) VALUES (@MALTC,@MASV,0);
	END
	ELSE
		raiserror( 'Lớp tín chỉ đã được đăng ký!', 16, 1 )
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RP__DSLTC]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_RP__DSLTC]
@NIENKHOA NCHAR(9),
@HOCKY INT
AS
BEGIN
	SELECT MH.TENMH,LTC.NHOM,G.HOTEN,LTC.SOSVTOITHIEU, SVDK = C.cnt
	FROM (SELECT L.MALTC,L.NHOM,L.MAMH,L.MAGV,L.SOSVTOITHIEU FROM DBO.LOPTINCHI AS L
		  WHERE L.NIENKHOA = @NIENKHOA AND L.HOCKY = @HOCKY AND L.HUYLOP = 0) LTC
	 INNER JOIN (SELECT MALTC, count(MALTC) as cnt
                     FROM DBO.DANGKY GROUP BY MALTC ) C ON LTC.MALTC = C.MALTC,
		(SELECT MAMH,TENMH FROM DBO.MONHOC) MH,
		(SELECT GV.MAGV,HOTEN =GV.HO + ' '+GV.TEN FROM GIANGVIEN GV) G
		WHERE LTC.MAGV = G.MAGV AND LTC.MAMH = MH.MAMH
	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_RP_BDMHLTC]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**/


CREATE PROC [dbo].[SP_RP_BDMHLTC]
@NIENKHOA NCHAR(9),
@HOCKY INT,
@MONHOC NCHAR(10),
@NHOM INT
AS 
BEGIN
	DECLARE @MALTC INT
	SELECT @MALTC = MALTC FROM DBO.LOPTINCHI 
	WHERE NIENKHOA = @NIENKHOA AND HOCKY = @HOCKY AND MAMH = @MONHOC AND NHOM = @NHOM AND HUYLOP = '0';

	SELECT SV.MASV, SV.HO,SV.TEN,DK.DIEM_CC,DK.DIEM_GK,DK.DIEM_CK, DIEMHETMON = DK.DIEM_CC*0.1 + DK.DIEM_CK *0.6
	FROM (SELECT MASV,HO,TEN FROM SINHVIEN) AS SV, DBO.DANGKY AS DK
	WHERE DK.MALTC = @MALTC AND DK.MASV = SV.MASV 
	ORDER BY SV.TEN, SV.HO ASC 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_RP_BDTK]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**/


CREATE PROC [dbo].[SP_RP_BDTK] 

@MALOP NVARCHAR(15)
AS
BEGIN
SELECT MA_HOTEN , MAX(DIEM) as DIEM , TENMH FROM
 (
 
 SELECT G.MASV+'-'+G.HOTEN AS MA_HOTEN ,  Z.DIEM , MH.TENMH 
 FROM (SELECT  (DIEM_CC*0.1+DIEM_CK*0.6)as DIEM, sv.MASV, D.MALTC
	FROM DANGKY D, SINHVIEN sv
	 WHERE  D.MASV = sv.MASV and sv.MALOP = @MALOP)  Z
		INNER JOIN (SELECT MASV,HO +' '+TEN AS HOTEN FROM dbo.SINHVIEN WHERE MALOP=@MALOP AND DANGHIHOC='false') G
 ON G.MASV = Z.MASV, MONHOC mh, LOPTINCHI l WHERE l.MAMH = MH.MAMH and Z.MALTC = l.MALTC
 
 )  A
 group by TENMH, MA_HOTEN


END

GO
/****** Object:  StoredProcedure [dbo].[SP_RP_DSDHP]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RP_DSDHP](@MALOP NVARCHAR(15),@NIENKHOA NVARCHAR(15),@HOCKI INT)
AS
BEGIN

	SELECT E.HOTEN, F.HOCPHI, G.SOTIENDONG AS SoTienDaDong
    FROM (( SELECT MASV,HO +' '+ TEN AS HOTEN FROM dbo.SINHVIEN WHERE MALOP = @MALOP ) AS E INNER JOIN 
	( SELECT MASV, HOCPHI FROM dbo.HOCPHI WHERE NIENKHOA=@NIENKHOA AND HOCKY = @HOCKI) AS F ON F.MASV = E.MASV) INNER JOIN ( 

	SELECT SOTIENDONG, sv.MASV  from CT_DONGHOCPHI CT, SINHVIEN sv where CT.MASV = sv.MASV and sv.MALOP = @MALOP and CT.HOCKY = @HOCKI
 and CT.NIENKHOA = @NIENKHOA)
	
	 AS G ON G.MASV= F.MASV 
   
   
   ORDER BY HOTEN ASC

END

GO
/****** Object:  StoredProcedure [dbo].[SP_RP_DSSVDKLTC]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**/


CREATE PROC [dbo].[SP_RP_DSSVDKLTC]
@NIENKHOA NCHAR(9),
@HOCKY INT,
@MONHOC NCHAR(10),
@NHOM INT
AS

BEGIN 
	DECLARE @MALTC INT,@MASV NCHAR(10)
	SELECT @MALTC = MALTC FROM DBO.LOPTINCHI 
	WHERE NIENKHOA = @NIENKHOA AND HOCKY = @HOCKY AND MAMH = @MONHOC AND NHOM = @NHOM

	SELECT DK.MASV, SV.HO,SV.TEN,
		CASE
		WHEN SV.PHAI = 0 THEN 'NAM'
		WHEN SV.PHAI = 1 THEN N'NỮ'
	END AS PHAI
	,SV.MALOP
	FROM (SELECT MASV FROM DBO.DANGKY WHERE MALTC = @MALTC)  AS DK
	INNER JOIN DBO.SINHVIEN SV ON DK.MASV = SV.MASV 
	ORDER BY TEN,HO
END

GO
/****** Object:  StoredProcedure [dbo].[SP_RP_PD]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**/

CREATE  PROC [dbo].[SP_RP_PD]
@MASV NVARCHAR(10)
AS

BEGIN

	SELECT A.TENMH, A.DIEM FROM (
	
	SELECT TENMH, MAX(DIEM) AS DIEM
			FROM (
			
			SELECT MH.TENMH, DEMO.DIEM 
			FROM dbo.MONHOC MH INNER JOIN (SELECT * FROM (
			
			
			SELECT D.MASV,(DIEM_CC*0.1 + DIEM_CK*0.6) AS DIEM,
				(select MAMH From LOPTINCHI L where L.MALTC = d.MALTC) AS MAMH
			 FROM [dbo].[DANGKY] AS D
				WHERE D.MASV = @MASV	
			
			) as c
			) AS DEMO
			ON DEMO.MAMH = MH.MAMH 
		
			) AS B
				GROUP BY TENMH
	
	
	) AS A

	
	 ORDER BY A.TENMH ASC


END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS

	-- check login , user bị trùng 
	IF EXISTS(SELECT name FROM sys.server_principals 
				WHERE TYPE IN ('U', 'S', 'G')	--U: Windows Login Accounts
				AND name NOT LIKE '%##%'		--S: SQL Login Accounts
				AND name = @LGNAME)				--G: Windows Group Login Accounts
		RETURN 1	--Trùng Login
	ELSE IF EXISTS(SELECT name FROM sys.database_principals
					WHERE type_desc = 'SQL_USER'
					AND name = @USERNAME)
		RETURN 2	--Trùng User

	-- băt đầu tạo tài khoản
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV_TC'
  IF (@RET =1) 
     RETURN 3 -- tạo tài khoản không thành công
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1) 
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 3 -- tạo  tài khoảng không thành công
  END
  EXEC sp_addrolemember @ROLE, @USERNAME

  --THEM ROLE SECURITYADMIN DE CO QUYEN TAO TAI KHOAN
  EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'

  RETURN 0  -- THANH CONG

GO
/****** Object:  StoredProcedure [dbo].[Xoa_Login]    Script Date: 12/10/2021 10:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Xoa_Login]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "GIANGVIEN"
            Begin Extent = 
               Top = 9
               Left = 56
               Bottom = 206
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_GV'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_GV'
GO
USE [master]
GO
